.products {
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.main, .side {
    padding: 20px;
}

.main {
    background: rgb(45, 110, 64);
    width: 70%;
    margin-left: 10%;
    margin-right: 5%;
}

.side {
    background: rgb(133, 188, 65);
    width: 30%;
}

.side p, ul {
    background-color: #f0f0f0;
    padding: 30px;
}

/* 2カラムコンテンツにする */

.archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.archive div {
    padding: 5px;
    margin-bottom: 3rem;
    /* padding: 3rem; */
    width: 40%;
    background-color: #f0f0f0;
}

.archive img {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
}