.products {
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
.main, .side {
    padding: 20px;
}
.main {
 
    width: 70%;
    margin-left: 10%;
    margin-right: 5%;
}
.side {
    width: 30%;
}
.side p, ul {
    background-color: #f0f0f0;
    padding: 30px;
}

/* 2カラムコンテンツにする */
.archive {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    padding: 10px;
}
.archive .archive-items {
    /* margin: 10px; */
    margin: 1rem;
    /* padding: 3rem; */
    width: 45%;
    background-color: #f0f0f0;
}
.archive img {
    display: block;
    /* margin-bottom: 1rem; */
    width: 100%;
    height: auto;
}